body {
    height: 100%;
}

.navbarText {
  text-align: center;
  color: white;
}

.info {
  border: 1px solid black;
  margin-top: 20px;
  height: max-content;  
}

.text {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.search {
    margin-top: 20px;
    background-color: rgb(192, 191, 191);
    padding: 20px;
    height: 100%;
}

.forecast {
    background-color: rgb(179, 179, 240);
}